.btn-delete-icon {
  color: var(--ion-color-danger);
  --background:white;
  --background-activated:white;
  --background-hover:white;
}
.card-info{
   margin-top:0.4rem;
   --background: var(--ion-color-primary);
   --color: var(--ion-color-primary-contrast);
   --border-radius: 1rem;
   --padding-top: 0.4rem;
   --padding-bottom: 0.4rem;
   --padding-start: 1rem;
   --padding-end: 1rem;
}