
ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--spacing-md);
  gap: var(--spacing-sm);
  transition: var(--transition-base);
  --background: var(--autumn-gradient);
  --color: var(--white);
  --min-height: 56px;
  --padding-top: 0;
  --padding-bottom: 0.2rem;
  --padding-start: 0;
  --padding-end: 0.5rem;
  --color: var( --peach-shade)
}
.title {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:1rem;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}
.theme-toggle-header { 
  --border-radius: 50%; 
  --color:var(--falu-red-shade);
  font-weight: var(--font-weight-bold);
}
.dark-theme .theme-toggle-header {
  --color:var(--peach);
}